@import url('https://fonts.googleapis.com/css2?family=Yantramanav');

.canvas-container{
   
    height: 50%;
    width: 50%;
    z-index: 100;
}

.getaways-header{
    position: absolute;
    top:48%;
    left:31.55%;
    transform: translate(-50%,-50%);
    width: 5%;
    z-index: 1000;
 
}