@import url('https://fonts.googleapis.com/css2?family=Yantramanav');

.canvas-container{
    position: relative;
    z-index: 100;
    width: 45%;
    height: 80%;
    
    background-image: url("https://www.google.nl/url?sa=i&url=https%3A%2F%2Flightfieldstudios.net%2F52820537%2Fstock-photo-blurred-forest-background.html&psig=AOvVaw2e6fX19nJ0jCFeiPsvADXm&ust=1640191420082000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLjh26mr9fQCFQAAAAAdAAAAABAE");
}

.getaways-header{
    position: absolute;
    bottom: 1em;
    right:1em;
    width: 7em;
    z-index: 1000;
 
}

.getaways-header:hover{
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .canvas-container{
        width: 100%;
        height: 70%
    }
}


    @media only screen and (max-width: 600px) {


        .getaways-header{
            width: 5em;
            bottom: 0.8em;
            right: 0.8em;
        }
}

@media only screen and (max-width: 450px) {
    .canvas-container{
        width: 80%;
        height:  40%
    }
}

@media only screen and (max-width: 300px) {
 
    .getaways-header{
        width: 4em;
        bottom: 0.6em;
        right: 0.6em;
    }
}